<?xml version="1.0" ?>

<launch>

  <!-- Launch low level controller -->
  <node pkg="zeus_control" type="twist2motor_cmd.py" name="twist2cmd" output="screen">
  </node>
  
  <node pkg="topic_tools" type="transform" name="transform1" output="screen"
    args="/ros_talon1/motor_percent /zeus/left_front_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>
    
  <node pkg="topic_tools" type="transform" name="transform2" output="screen"
    args="/ros_talon2/motor_percent /zeus/right_front_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>
    
  <node pkg="topic_tools" type="transform" name="transform3" output="screen"
    args="/ros_talon3/motor_percent /zeus/left_middle_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>
    
  <node pkg="topic_tools" type="transform" name="transform4" output="screen"
    args="/ros_talon4/motor_percent /zeus/right_middle_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>
 
  <node pkg="topic_tools" type="transform" name="transform5" output="screen"
    args="/ros_talon5/motor_percent /zeus/left_rear_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>
    
  <node pkg="topic_tools" type="transform" name="transform6" output="screen"
    args="/ros_talon6/motor_percent /zeus/right_rear_wheel_velocity_controller/command std_msgs/Float64 'float(m.data)'"
    respawn="true"
    respawn_delay="1">
  </node>

  <param name="/twist2cmd/twist2cmd/max_motor_cmd" value="6.0"/>
  <param name="/twist2cmd/twist2cmd/angular_gain" value="-2.0"/>
  <param name="/twist2cmd/twist2cmd/linear_gain" value="0.5"/>

</launch>
