<?xml version="1.0" ?>

<launch>

  <!-- Launch imu -->
   <include file="$(find i2c_imu)/launch/i2c_imu_auto.launch" />
  
  <!-- Launch gps -->
  <!-- Do not forget to give access to the port : sudo chmod 666 /dev/ttyTHS1 -->
  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen"> 
    <param name="port" value="/dev/ttyTHS1" />
    <param name="baud" value="115200" />
  </node>

  <!-- Launch wheel odometry publisher -->
  <node pkg="zeus_control" type="odom_publisher.py" name="odom_publisher_node" output="screen">
  </node>

  <include file="$(find zeus_description)/launch/tf_tree.launch" />    
  
</launch>
