<?xml version="1.0" ?>

<launch>

  <!-- Launch gazebo -->
  <include file="$(find zeus_gazebo)/launch/zeus_empty.launch" />

  <!-- Launch low level control -->
  <include file="$(find zeus_control)/launch/motor_drivers_sim.launch" />

  <!-- Launch odometry -->
  <node pkg="zeus_control" type="odom_publisher.py" name="odom_pub" output="screen">
  </node>

   <!-- Launch move base -->
  <include file="$(find zeus_control)/launch/teleop.launch">
    <arg name="joy_dev" value="/dev/input/js1"/>
  </include>

  <include file="$(find zeus_navigation)/launch/sensor_fusion.launch" />

  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find zeus_control)/config/nav_sim.rviz" />

</launch>
