<?xml version="1.0" ?>

<launch>

  <!-- Launch teleop nodes -->
  <include file="$(find zeus_control)/launch/teleop.launch" />

  <!-- Launch sensor monitoring -->
  <include file="$(find zeus_control)/launch/sensor_monitor.launch" />

  <!-- Launch mapviz transforms -->
  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="swri"/>
    <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 49.90000,
         longitude: 8.899999,
         altitude: 233.719,
         heading: 0.0},
         
       { name: back_40,
         latitude: 49.90000,
         longitude: 8.899999,
         altitude: 200.0,
         heading: 0.0}]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />


  <!-- Launch rqt interface -->
  <node name = "zeus_rqt" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find zeus_control)/config/zeus_teleop.perspective"/>

</launch>
