<?xml version="1.0" ?>

<launch>

  <!-- Remap commands to husky -->
  <remap from="husky_velocity_controller/cmd_vel" to="cmd_vel"/>

  <include file="$(find zeus_gazebo)/launch/mars_env_only.launch">
  </include>

  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="realsense_enabled" default="true"/>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
  </include>

  <!-- Send Twist commands -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop"/>

</launch>
