<?xml version="1.0" ?>

<launch>

  <arg name="world" default="$(find zeus_gazebo)/worlds/mars.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" default="true"/>
  </include>

  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find zeus_description)rover.urdf.xacro" />

  <!-- Spawn a robot into Gazebo -->
  <node name="zeus_spawn" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 0.3 -model zeus" />

  <!-- Send Twist commands -->
  <node name="teleop" pkg="zeus_description" type="keyboard_teleop.py"/>

  <!-- Publish joints state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
  </node>

  <rosparam command="load" file="$(find zeus_description)diff_controller.yaml"/>

  <node name="zeus_controller_spawner" pkg="controller_manager" type="spawner" 
    args="joint_state_controller 
          left_rocker_bogie_controller 
          right_rocker_bogie_controller
          right_front_wheel_velocity_controller
          right_middle_wheel_velocity_controller
          right_rear_wheel_velocity_controller
          left_front_wheel_velocity_controller
          left_middle_wheel_velocity_controller
          left_rear_wheel_velocity_controller"/>
<!-- rover_diff_drive_controller -->
</launch>
